 
body {
    background:#000;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 100%;
    max-width: 600px;
    margin: 80px auto;
}
.post {
    width: 100%;
    background: #fff;
}
.post-header > div {
    display: inline-block;
    vertical-align: middle;
}
.post-header > div:first-child {
    width: 14%;
}
.post-header > div:last-child {
    width: 8%;
    text-align: right
}
.post-header > div:nth-child(2) {
    width: 76%;
}
.post-header > div:nth-child(2) > h2,
.post-header > div:nth-child(2) > h3 {
    margin: 0
}
.post-header img {
    width: 70px;
    height: 70px;
    border-radius: 50em;
}
.post-header > div:last-child > i {
    font-size: 40px;
}
.post-header {
    padding: 12px;
}
.post-image img {
    width: 100%;
}
.post-content div i {
    font-size: 40px;
    margin: 0 5px;
}
.post-content div i:last-child {
    float: right;
}
.post-content {
    padding: 10px;
}
.post-content div {
    margin-bottom: 30px;
}
